@page
@model CovidPassport.Pages.Persons.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>NHS Records</h1>

<h4>Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Person.PersonId" />
            <div class="form-group">
                <label asp-for="Person.AddressId" class="control-label">Address ID</label>
                <select asp-for="Person.AddressId" class="form-control" asp-items="ViewBag.AddressId"></select>
                <span asp-validation-for="Person.AddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Surname" class="control-label">Surname</label>
                <input asp-for="Person.Surname" class="form-control" />
                <span asp-validation-for="Person.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.FirstName" class="control-label">Forename</label>
                <input asp-for="Person.FirstName" class="form-control" />
                <span asp-validation-for="Person.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.NoOfVaccines" class="control-label">No. Of Vaccines</label>
                <input asp-for="Person.NoOfVaccines" class="form-control" />
                <span asp-validation-for="Person.NoOfVaccines" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Dob" class="control-label">Date of Birth</label>
                <input asp-for="Person.Dob" class="form-control" />
                <span asp-validation-for="Person.Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
