@page
@model CovidPassport.Pages.Approval.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Passport Approval</h1>

<h4>Confirm Health Centre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Passport.PassportId" />
            <div class="form-group">
                <label asp-for="Passport.HealthCentreId" class="control-label">Health Centre</label>
                <select asp-for="Passport.HealthCentreId" class="form-control" asp-items="ViewBag.HealthCentreId"></select>
                <span asp-validation-for="Passport.HealthCentreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm Approval" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
