<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="base_url" value ="https://localhost:44312/"/>
    <add key ="location_url" value ="https://localhost:44312/HealthCentres"/>
    <add key ="passport_url" value ="https://localhost:44312/Passports"/>
    <add key ="approval_url" value ="https://localhost:44312/Approval"/>
    <add key ="person_url" value ="https://localhost:44312/Persons"/>
    <add key ="address_url" value ="https://localhost:44312/Addresses"/>
    <add key ="privacy_url" value ="https://localhost:44312/Privacy"/>
  </appSettings>
</configuration>