@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <nav id="navbar_Home">
        <div class="container_Home">
            <h5>Coronavirus (COVID-19)</h5>
            <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/" target=”_blank”>Get the latest advice about COVID-19</a>
        </div>
    </nav>
    <section id="showcase">
        <div class="picture"></div>
    </section>

    <div class="container_HomePage">
        <p>Get the latest advice about COVID-19, including information about symptoms, self-isolation and testing.</p>
        <h3 href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/" target=”_blank”>Find out about COVID-19 vaccination</h3>
    </div>

</div>
