@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="text-centre">
    <div class="text-center">
        <nav id="navbar_Home">
            <div class="container_Home">
                <h5>Coronavirus (COVID-19)</h5>
                <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/" target=”_blank”>Get the latest advice about COVID-19</a>
            </div>
        </nav>
        <section id="showcase">
            <div class="picture"></div>
        </section>
    </div>
    <h2>Help us help you get the treatment you need.</h2>
    <p>While everyone is being told to stay at home, it can be hard to know what to do if you're unwell.</p>
    <ul>
        <li>For help from a GP – use your GP surgery's website, use an online service or app, or call the surgery.</li>
        <li>For urgent medical help – use the NHS 111 online service, or call 111 if you're unable to get help online.</li>
        <li>For life-threatening emergencies – call 999 for an ambulance.</li>
    </ul>
    <p>If you're advised to go to hospital, it's important to go.</p>
    <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/using-the-nhs-and-other-health-services/" target=”_blank”>Find out how to get medical help</a>
    <hr />

    <h2>NHS App</h2>
    <p>The NHS App lets you book GP appointments, order repeat prescriptions and access a range of other healthcare services.</p>
    <a href="https://www.nhs.uk/nhs-app/" target=”_blank”>Find out more about the NHS App</a>
    <hr />

    <section id="emergency">
        <h6>If you need help now, but it’s not an emergency</h6>
        <p>Go to <a href="https://111.nhs.uk/?utm_source=nhsuk&utm_campaign=homepage" target=”_blank”>111.nhs.uk</a> or call 111.</p>
    </section>
</div>
