@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h6>When you use our services, you’re trusting us with your information. 
    We understand that this is a big responsibility and we work hard to protect your 
    information and put you in control.</h6>

<h3>Website privacy</h3>
<p>This Privacy Policy is meant to help you understand what information we collect, 
    why we collect it and how you can update, manage, export and delete your information.</p>

<p>NHS England (or the NHS Commissioning Board, which is our legal name) uses personal and confidential 
    information for a number of purposes. Our Privacy Notice provides a summary of how we use your information.</p>


<p> Information on this page explains our website privacy policy and how we will use and 
    protect any information about you that you give us when you visit this website.

    This privacy statement only covers the NHS England website (www.england.nhs.uk).
    It does not cover all sites that can be linked to from this site, so you should always 
    be aware when you are moving to another site and read the privacy statement on that site.</p>

<h3>What information do we collect?</h3>
<p> From time to time, you will be asked to submit personal information about yourself 
    (e.g. name and email address) in order to receive or use services on our website. 
    Such services include bulletins, email updates and website feedback.

    By entering your details in the fields requested, you enable NHS England and its 
    service providers to provide you with the services you select. Any information you 
    provide to NHS England will only be used by us, our agents and service providers and 
    will not be disclosed unless we are obliged or permitted to by law to do so.

    If you post or send offensive, inappropriate or objectionable content anywhere on 
    www.england.nhs.uk or otherwise engage in any disruptive behaviour on www.england.nhs.uk, 
    we may use whatever information is available to us, about you, to stop such behaviour. 
    We will hold your personal information on our systems for as long as you use the service 
    you have requested, and remove it in the event that the purpose has been met or when you no 
    longer wish to continue your subscription.
</p>